

<header>
    <div class="wrapper">
        <div class="d-flex">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h1>Agence de Voyage<span class="orange">.</span> </h1>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link active" href="#mainImage">ACCUEIL</a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link" href="#steps">DESTINATIONS</a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link" href="#possibilities">CIRCUITS</a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link disabled text-white" href="#contact">CONTACT</a>
            </div>
        </div>
           
    </div>
</header>
