#buttonIci
{

    width:120px;
    height:50px;

    background-color:red;
   
}



/*#mainImage
{
    height:580px;
    background:url(/images/image-voyage/main.jpg) center;

}

#mainImage h2 {
    font-weight: normal;
    text-transform: uppercase;
    padding: 150px 0 40px 0;
    text-align: center;
    margin-bottom:20px;
}

.button-1
{
    display:block;
    width:120px;
    height:50px;
    background:#ff7a00;
    color:white;
    font-size:20px;
    margin:0 auto;
    line-height:50px;
    text-align:center;
    border-radius:3px;
}

.button-1:hover 
{
    /*utilisation de la pseudo classe
    background:#02b8dd;/*background: blue;
}

*/