<section id="mainImage">
    <div class="card bg-dark text-black-100">
        <img class="card-img" src="/images/image-voyage/main.jpg" alt="Card image">
        <div class="card-img-overlay text-center wrapper">
            <h2 class="card-text" style="font-size:55px">Organiser votre <br /> <strong> voyage sur mesure </strong> </h2>
            <button type="button" class="btn btn-warning text-center buttonIci" style="height:50px; width:120px; margin-top:170px;" id="boutonIci">
            Par ici
            </button> 
        </div>
    </div>
</section>