
#step1 {
    background: url(/images/image-voyage/steps-icon-1.png) no-repeat top center;
}

#step2 {
    background: url(/images/image-voyage/steps-icon-2.png) no-repeat top center;
}

#step3 {
    background: url(/images/image-voyage/steps-icon-3.png) no-repeat top center;
}