<section id="steps" class="container" style="margin-top:50px;">

    <div class="card-group text-center">
        <div class="card text-sm-center border-0">
            <img class="card-img-top w-25 d-block mx-auto" src="/images/image-voyage/steps-icon-1.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">PLANIFIER</h4>
                <p class="card-text">Confiez-nous vos réves d'évasion : en famille ou entre amis, nous trouverons la formule qui comblera vos attentes.</p>
            </div>
        </div>
        <div class="card text-sm-center border-0">
            <img class="card-img-top w-25 d-block mx-auto" src="/images/image-voyage/steps-icon-2.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">ORGANISER</h4>
                <p class="card-text">Bénéficiez de l'expertise de nos spécialistes de chaque destination, ils vous accompagnent dans la réalisation de votre voyage.</p>
            </div>
        </div>
        <div class="card text-sm-center border-0 pointer-event">
            <img class="card-img-top w-25 d-block mx-auto" src="/images/image-voyage/steps-icon-3.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">VOYAGER</h4>
                <p class="card-text"> Nous nous chargeons d'assurer votre sécurité et de veiller à votre pleine sérénité tout au long de votre voyage.</p>
            </div>
        </div>
    </div>
    

</section>